.home-page {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100vh; /* Set the height of the container to viewport height */
  }
  